body{
    background-color: pink ;
}

.post{
    background-color: rgb(255, 0, 200);
    padding: 15px;
    border: 3px solid rgb(238, 18, 18);
    margin: 5px;
}


#title, .subtitle,.posttitle{
    color: blue;
}
.posttitle{
    font-size: 15px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.postContent{
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5%;
}

.postImage{
    margin: 15px;

}